/* ============ COMMON STYLES ============ */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
    margin: 0;
  }
  
  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0;
  }
  
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 72px;
  }
  
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    box-sizing: border-box;
  }
  
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  button {
    padding: 0;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
/* ============ HEADER STYLES ============ */
.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
  }
  
  .navigator {
    display: flex;
   align-items: center;
  }
  
  .nav-logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    align-self: center;
    margin-right: 76px;
  }
  
  .nav-logo {
    color: #2e2f42;
    
  }
  
  .btn-link {
    display: flex;
    gap: 40px;
  }
  
  .nav-link {
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  
  .link-contact {
    font-style: normal;
    align-items: center;
  }
  
  .link-contact-list {
    display: flex;
    gap: 40px;
  }
  
  .link-contact a {
    font-weight: 400;
    color: #434455;
    text-decoration: none;
  }
  
  .link-contact a:hover,
  .link-contact a:focus {
    color: #404bbf;
  }

/* ============ HERO IMAGE ============ */
 

.section-container{
    background-color: #2e2f42;
    padding: 188px 0; 
 } 
.section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    
    
    
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
  
  .button:hover,
  .button:focus {
    background: #404bbf;
  }


/* ============ OUR BENEFICS ============ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section-our{
    padding: 120px 0;
}

.section-list {
    display: flex;
    margin-right: 24px;
    margin-right: 0 ;
    gap: 24px;
}
.section-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
}

  
.section-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
    
    
}

.section-list-text{   
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}  

/* ============ OUR TEAM ============ */

.section-our-team{
    padding: 120px 0;
    background-color:#f4f4fd;
}
.section-title-team{
  
    text-align: center;
    margin: 0 auto;
}

.team-member-list{
   
   margin-top: 72px;
   display: flex;
   gap: 24px; 
}
.team-box{
    padding: 32px 0
}
.team-member-list-list{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.team-member-list-list {
    flex-basis: calc((100% - 72px) / 4);
}

 
.team-fullname{   
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   text-align: center;
   margin-bottom: 8px
}
.team-role{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
}

/* ============ OUR PORTFOLIO ============ */
.section-our-portfolio{
    padding: 120px 0;
}
.section-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    
  }
  
  .section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
  }
  
  .section-portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .section-portfolio-item{
    margin-bottom: 8px;
  }
  .portfolio-box {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
  }
  
  .portfolio-img {
    overflow: hidden;
    vertical-align: bottom;
  }
  

/* ============ FOOTER ============ */
.page-footer{
   padding: 100px 0;

}

.page-logo{
       
    font-size: 16px; 
    color: #333;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    
    
}

footer{
    background-color: #2e2f42;
    
}

.text-italic {
    color: #f4f4fd; 
}
.contact-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;    
    max-width: 264px;
    font-size: 14px; 
    color: #f4f4fd;
    max-width: 264px;
}







